body{
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

header{
    background: #F6F6F6;
    padding: 22px 0;
}

.headerContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.headerContainer a{
    color: black;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 50px;
}

.headerContainer a:hover{
    background: #FFEA00;
}
ul{
    display: flex;
}

#menuCheckBox{
    display: none;
}

nav{
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .headerContainer{
        width: 100%;
        display: flex;
    }
    .logo{
        padding-left: 50px;
    }
    .mainMenu{
        display: none;
    }
    .mainMenu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .mainMenu a{
        display: block;
        margin-bottom: 8px;
        padding: 6px;
    }
    .toggleBtn{
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
        margin-top: 30px;
    }
    .toggleBtn:after{
        content:attr(data-open);
        display: block;
        margin-right: 50px;
    }
    #menuCheckBox:checked + nav[role="navigation"] .mainMenu{
        display: block;
    }
    #menuCheckBox:checked + nav[role="navigation"] .toggleBtn:after{
        content:attr(data-close)
    }
    .headerContainer a{
        margin-right: -65px;
    }
    .mainMenu{
        position: relative;
        top: 30px;
        right: 115px;
    }
}

